node_modules/
dist/
generated/
.env
.env.prod
.env.local
uploads/
coverage/
*.log

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Thumbs.db

# Prisma
backend/generated/

# Angular
frontend/dist/
frontend/.angular/
